index.hbs<br>

<p>Three levels of components nested. house -> cats -> kittens.</p>

<p>
  Fairly similar to a real case, where we have a list of things (component a),
  each with a bunch of inline editables (component b), which in turn contain a few inputs etc that are components.
</p>

<p>50 items feels like common amount for a list.</p>

<p>In our case we see this on the initial render, as well as on sorting (which basically re-draws the entire list)</p>

<hr>

{{#each model as |i|}}
  {{x-house cats=i}}
{{/each}}
