<p>Three levels of components nested. <code>house -> cats -> kittens</code>.</p>

<p>
  Fairly similar to a real case, where we have a list of things (level 1),
  each with a bunch of inline editables (level 2),
  which in turn contain a few inputs etc that are components (level 3).
</p>

<hr>

{{#each model as |i|}}
  {{x-house cats=i}}
{{/each}}
